
$entry-backgroud: rgba(59, 74, 107, .4);
$body-font: -apple-system, BlinkMacSystemFont, sans-serif;
$placeholder-color: #049ff8; 
$placeholder-font: 'Oswald', sans-serif;;
$black-background: #000;
$text-color: rgba(255, 255, 255, 0.788);
$gray: rgba(255, 255, 255, 0.63);


body{
    background: #fffff8;
    font-family: $body-font
}

#title{
    size: 200%;
    color: $text-color;
    text-decoration: wavy;
}

#city:hover{
    background-color: $gray;    
}

#returnDate:focus{
    background-color: $gray;
}

#travelDate:focus{
    background-color: $gray;
}

#generate{
    background-color: $placeholder-color;
    border: 2px solid white;

    &:hover{
        background-color: $gray;
    }
}

input{
    &.hover{
        border: 2px solid $placeholder-color;
    }
}

#app{
    display: grid;
    grid-auto-rows: minmax(150px, auto);
    /* grid-template-columns:  */
    height:100vh;
    background: $black-background;
    color: $text-color;
    justify-content: center;
    grid-gap: 1em;
    font-size: 20px;
    font-family: $placeholder-font;
}

.entry{
    background: $entry-backgroud
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label{
    display:block;
    font-size: 27px;
}

input{
    display:block;
    height: 60px;
    width: 320px;
    background: $placeholder-color;
    color: $text-color;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: none;

    &.hover{
        color: 2px solid $placeholder-color;
    }
}

button{
    width: 400px;
    height: 100px;
    background: #3b4a6b;
    color: $text-color;
    font-size: 26px;
    font-family: $placeholder-font;
    border: none;
    box-shadow: 2px 4px 5px #444;

    &.hover{
        color: 2px solid rgb(255,0,0);
    }
}
h1{
    font-size: 36px;
}

textarea{
    background: $black-background;
    color: $text-color;
    font-size: 20px;
    font-family: $placeholder-font;
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: $text-color;
    font-family: $placeholder-font;

} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: $text-color;
    font-family: $placeholder-font;

} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: $text-color;
    font-family: $placeholder-font;

} 

img{
    width: auto;
}


@media screen and (max-width: 700px){
    body{
        width: auto;
        font-size: 60%;
        text-align: center;
    }



}